.navbar,
.navbar-default {
  margin-bottom: 0px;
  background: #071313 !important;
  background-color: #071313 !important;
  border: none;
}
.navbar-header {
  background: #071313 !important;
  background-color: #071313 !important;
}
.collapse,
.navbar-collapse {
  background: #434446 !important;
  background-color: #434446 !important;
  width: 100% !important;
  padding: 0;
  margin: 0;
}
a {
  color: white !important;
}
.navbar ul li a,
.navbar-nav ul li a {
  padding: 10px;
}
li .active {
  background: #071313 !important;
  background-color: #071313 !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #f3f3f3 !important;
  background-color: transparent;
  border-bottom-color: #071313 !important;
  -webkit-border-bottom-color: #071313 !important;
  -o-border-bottom-color: #071313 !important;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-top: none;
  border-right: none;
  border-left: none;
}
.body-content {
  background: #f3f3f3 !important;
  background-color: #f3f3f3 !important;
}
.home {
  background: rgba(187, 187, 187, 0.5);
  background-color: rgba(187, 187, 187, 0.5);
  cursor: pointer;
}
.home:hover {
  background: #f3f3f3 !important;
  background-color: #f3f3f3 !important;
}
.img-home {
  background: rgba(187, 187, 187, 0.5);
  background-color: rgba(187, 187, 187, 0.5);
}
.text {
  padding-right: 8px;
  padding-left: 8px;
}
.home figcaption img {
  padding-right: 3px;
  padding-left: 3px;
}
.img1 {
  padding-left: 4px;
  padding-right: 4px;
}
.home-content {
  padding: 4px;
}
.text-price {
  color: #fd8103;
  font-weight: bold;
}
.home {
  background-image: url(../img/sticker_new.png);
  background-position: absolute;
  top: 0px;
}
.footer {
  padding: 12px;
  background: #434446 !important;
  background-color: #434446 !important;
}
.img-social {
  background: rgba(187, 187, 187, 0.5);
  background-color: rgba(187, 187, 187, 0.5);
  border-radius: 50px;
  cursor: pointer;
  filter: alpha(opacity=20);
  margin-top: 10px;
  opacity: 0.2;
}
.img-social:hover {
  filter: alpha(opacity=90);
  opacity: 0.9;
  border-radius: 1px;
  z-index: -190px;
}
.text-white {
  color: #f3f3f3 !important;
}
